<h1>Hello, <%= @user.name %></h1>
Email: <%= @user.email %> <br>
Teacher?: <%= @user.teacher %>


  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
  
