<h1>Courses</h1>
<ul>
<% @courses.each do |course| %>
   <% if course != nil %>
  <%= link_to "#{course.name}", course_path(course),{ :class=>"course_name" } %><br>
  <em><%= link_to "#{course.teacher_name}", teacher_courses_path(course.teacher_id_check) %></em><br>
  <%= course.description %><br>
  <% if isenrolled(course) == false && !isadmin? %> 
  	<%= form_for @enrollment do |r| %>
		   <%= r.hidden_field :user_id %>
		   <%= r.hidden_field :course_id, :value => course.id %>
		   Course Type: <%= radio_button_tag(:course_type, "classroom") %>Classroom
		   <%= radio_button_tag(:course_type, "online", true) %>Online
		   <br>
		   <%= r.submit "Enroll in this course" %>
		 <% end %>
  <% end %>
  <% if isenrolled(course) %>
	 <%= button_to "Unenroll", unenroll_path(unenrollmentid(course)), :method => :delete%>
  <% end %>
<br>
<% end %>
<% end %>
</ul>