<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<h1>Courses</h1>
	<% if params[:teacher_id] %>
	<h1><%= @teacher.name %></h1>
	<%= link_to "Create a course by #{@teacher.name}", new_teacher_course_path(@teacher) %>
	<% end %>
  <ul>
<% @courses.each do |course| %>
  
  <%= link_to "#{course.name}", course_path(course) %><br>
  <em><%= course.teacher.name %></em><br>
  <%= course.description %><br>
  		<% if isenrolled(course) == false %> 
  		<%= form_for @enrollment do |r| %>
		<%= r.hidden_field :user_id %>
		<%= r.hidden_field :course_id, :value => course.id %>
		Course Type: <%= radio_button_tag(:course_type, "classroom") %>Classroom
		<%= radio_button_tag(:course_type, "online") %>Online
		<br>
		<%= r.submit "Enroll in this course" %>
		<% end %>
        <% end %>

		<button <%='hidden' if isenrolled(course) == false %> onclick='window.location.href="/enrollments/<%= unenrollmentid(course) %>/unenroll";'>Unenroll</button>
<br>
<% end %>
</ul>