<%= @course.name %><br>
<%= link_to "#{@course.teacher.name}", teacher_path(@course.teacher.id) %><br>
<%= @course.description %><br>

		<%= form_for @enrollment do |r| %>
		<%= r.hidden_field :user_id %>
		<%= r.hidden_field :course_id, :value => @course.id %>
		Course Type: <%= radio_button_tag(:course_type, "classroom") %>Classroom
		<%= radio_button_tag(:course_type, "online") %>Online
		<br>
		<%= r.submit "Enroll in this course" %><br>
		<% end %>

<button <%='hidden' if session["user_id"] == nil %> onclick='window.location.href="/courses/<%= @course.id %>/edit";'>Edit Course</button>
<%= button_to "Delete Course", @course, :method => :delete %>

    