<!DOCTYPE html>
<html>
  <head>
    <title>Onpoint Courses</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Onpoint Courses</h1>

   <button <%='hidden' if session["user_id"] == nil %> onclick='window.location.href="/home";'>Home</button>
   <button <%='hidden' if !isadmin? %> onclick='window.location.href="/teachers";'>All Teachers</button>
   <button <%='hidden' if !isadmin? %> onclick='window.location.href="/teachers/new";'>New Teacher</button>
    <button <%='hidden' if session["user_id"] == nil %> onclick='window.location.href="/courses";'>All Courses</button>
    <button <%='hidden' if !isadmin? %> onclick='window.location.href="/courses/new";'>New Course</button>
    <button <%='hidden' if session["user_id"] == nil %> onclick='window.location.href="/available";'>Available Courses</button>
    <button <%='hidden' if session["user_id"] == nil %> onclick='window.location.href="/logout";'>Logout</button>
    <hr>
    <%= yield %>
  </body>
</html>
